---
pagination:
  data: nacional
  size: 1
  alias: nacional
  addAllPagesToCollections: true
permalink: "nacional/{{nacional.nombre | slug}}/index.html"
tags:
  - nacional
---

{% extends "src/base.njk" %}

{% block head %}
<title>{{nacional.nombre}} | Candidatos 2023</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block content %}

    <div class="section m-0" style="background-color:#f0f2fd">
		<div class="container">

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex breadcumb" style="padding:20px">
                    <a href="/index.html">Inicio</a> &nbsp/&nbsp <a href="/nacional/0/index.html">Nacional</a> &nbsp/&nbsp <a href="#" style="pointer-events:none">{{nacional.nombre}}</a> 
                </div>
            </div>

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-3 d-flex my-4">
                    <img src="{{nacional.fotoUrl}}">
                </div>
                <div class="col-lg-6 my-4">
                    <h3>{{nacional.nombre}}</h3>
                    <h5>Tip de Elección: {{nacional.tipoeleccion}}</h5>
                    <h5>Partido Político: {{nacional.partidopostulante}}</h5>
                    <h5>Estado: {{nacional.estado}}</h5>
                    <h5>Distrito: {{nacional.distrito}}</h5>
                    <h5>Casilla: {{nacional.casilla}}</h5>
                </div>
                <div class="col-lg-3 my-4 center-elements">
                    <a href="https://partidos-publicos.netlify.app/partidospublicos/{{nacional.partidopostulante}}/"><img src="{{nacional.fotoUrlPartido}}"></a>
                    <div class"d-flex" style"margin-tp:10px!important">
                        {% if nacional.fb %}
                        <a href="{{nacional.fb}}" target="_blank" style="font-size:30px!important"><i class="fa-brands fa-square-facebook"></i></a>
                        {% endif %}
                        {% if nacional.tw %}
                        <a href="{{nacional.tw}}" target="_blank" style="font-size:30px!important"><i class="fa-brands fa-square-twitter"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if nacional.experiencia_academica %}

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex align-items-center" style="background-color: #E86762">
                    <img style="padding:10px;width:90px;height:71px!important" src="/elementos/ICONOS/CANDIDATURAS-03.png">
                    <h4 class="mb-0 py-4 text-white">Experiencia Académica</h4>
                </div>

                <div class="col-lg-12" style="background-color: #fff">
                    <p class="mb-0 py-4">{{nacional.experiencia_academica}}</p>
                </div>
            </div>

            {% endif %}

            {% if nacional.historial_politico %}

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex align-items-center" style="background-color: #E86762">
                    <img style="padding:10px;width:90px;height:71px!important" src="/elementos/ICONOS/CANDIDATURAS-05.png">
                    <h4 class="mb-0 py-4 text-white">Historial Político</h4>
                </div>

                <div class="col-lg-12" style="background-color: #fff">
                    <p class="mb-0 py-4">{{nacional.historial_politico}}</p>
                </div>
            </div>

            {% endif %}

            {% if nacional.planes_gobierno %}

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex justify-content-between" style="background-color: #E86762">
                    <div class="d-flex align-items-center">
                        <img style="padding:10px;width:90px;height:71px!important" src="/elementos/ICONOS/CANDIDATURAS-06.png">
                        <h4 class="mb-0 py-4 text-white">Planes de Gobierno</h4>
                    </div>
                    <a href="{{nacional.planes_gobierno}}" class="btn" style="align-self:center">Descarga Aquí</a>
                </div>
            </div>

            {% endif %}

            {% if nacional.fuentes_info %}

            <div class="row my-4 m-o-responsive" style="background-color:#fff">
                <div class="col-lg-12 d-flex align-items-center" style="background-color: #E86762">
                    <img style="padding:10px;width:90px;height:71px!important" src="/elementos/ICONOS/CANDIDATURAS-07.png">
                    <h4 class="mb-0 py-4 text-white">Fuentes de Información</h4>
                </div>

                <div class="col-lg-12" style="background-color: #fff">
                    <p class="mb-0 py-4">{{nacional.fuentes_info}}</p>
                </div>
            </div>

            {% endif %}

        </div>
    </div>

{% endblock %}

{% block body_javascripts %}

{% endblock %}