---
permalink: "index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Lab Electoral | Red Ciudadana</title>
{% endblock %}

{% block content %}
        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image:url('elementos/ELEMENTOS/SLIDER/01.png')">
			<div class="container">
				<div class="row h-100">
					<div class="col-lg-6 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<h2 class="display-4 text-white" style="font-weight: 800">Lab Electoral</h2>
						<p class="text-white">Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
						Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
						Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
						</p>
						<div>
							<a href="#" data-bs-toggle="modal" data-bs-target="#modal-signin" class="button button-large border border-width-2 bg-alt2 py-2 rounded-1 fw-medium nott ls0 ms-0 ms-sm-1 h-op-09"><i class="icon-line-file-add"></i>Create A New Topic</a>
							<a href="" class="button button-large button-border rounded-1 fw-medium nott bg-alt4 ls0 ms-0"><i class="icon-line-align-left"></i>Browse All Topics</a>
						</div>
					</div>

					<div class="col-lg-6 d-flex align-self-center flex-column">
						<img src="elementos/ELEMENTOS/SLIDER/02.png" alt="Hero Image" style="z-index: 3;">
					</div>
				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

		<!-- Nosotros
		============================================= -->

				<div class="container clearfix">
					<div class="heading-block center">
						<h2>Laboratorio Electoral</h2>
						<span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
					</div>

					<div class="row justify-content-center col-mb-50">
						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media" >
									<img class="imageinicio m-auto" src="elementos/01_MEJORAS WEB/ELEMENTOS/LAB ELECTORAL-10.png" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0 text-center">
									<h3 class="lower-case">Políticas y Normas<!--span class="subtitle">Because we are Reliable.</span--></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="imageinicio m-auto" src="elementos/01_MEJORAS WEB/ELEMENTOS/LAB ELECTORAL-11.png" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0 text-center">
									<h3 class="lower-case">Tecnologías<!--span class="subtitle">To Redefine your Brand.</span--></h3>
									<p>Quos, non, esse eligendi ab accusantium voluptatem. Maxime eligendi beatae, atque tempora ullam. Vitae delectus quia, consequuntur rerum molestias quo.</p>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-4">
							<div class="feature-box media-box">
								<div class="fbox-media">
									<img class="imageinicio m-auto" src="elementos/01_MEJORAS WEB/ELEMENTOS/LAB ELECTORAL-12.png" alt="Why choose Us?">
								</div>
								<div class="fbox-content px-0 text-center">
									<h3 class="lower-case">Adopción Digital<!--span class="subtitle">Make our Customers Happy.</span--></h3>
									<p>Porro repellat vero sapiente amet vitae quibusdam necessitatibus consectetur, labore totam. Accusamus perspiciatis asperiores labore esse ab accusantium ea modi ut.</p>
								</div>
							</div>
						</div>
					</div>

				</div>

		<!--Quote
		============================================= -->

				<!--div class="section parallax bottommargin-lg" style="background-image: url('images/parallax/3.jpg'); padding: 100px 0;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
					<div class="heading-block center border-bottom-0 mb-0">
						<h2>"Everything is designed, but some things are designed well."</h2>
					</div>
				</div-->


		<!-- Preview de Iniciativas
		============================================= >
				<br>
				<br>
				<br>
				<div class="container mx-auto clearfix">

					<div class="heading-block center">
						<h2>Iniciativas Electorales!</h2>
						<span>Plataformas al servicio de tu institución para facilitar sus procesos de Transformación Digital</span>
						<a href="#" data-bs-toggle="modal" data-bs-target="#modal-signin" class="button button-large border border-width-2 bg-alt3 py-2 rounded-1 fw-medium nott ls0 ms-0 ms-sm-1 h-op-09">Ir a productos &nbsp<i class="icon-arrow-right"></i></a>
					</div>

					<div  style="position: relative;" data-height-xl="624" data-height-lg="518" data-height-md="397" data-height-sm="242" data-height-xs="154">
						<img src="elementos/Partidos P_01.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="100" alt="Chrome">
						<img src="elementos/Partidos_P_02.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="400" alt="iPad">
						
					</div>
				</div>



		-->

		<!-- Videos
		============================================= >

				<div class="section py-6 my-6" style="background-color: #e8f0f9">
					<div class="container">
						<div class="row align-items-center col-mb-50">

							<div class="col-md-12 text-center">
								<h2 class="display-4 mb-4 fw-bold">Videos</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
								<div class="row posts-md col-mb-30">
									
									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/ZfPCUriMSus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/ZfPCUriMSus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<iframe width="560" height="315" src="https://www.youtube.com/embed/ZfPCUriMSus" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
										</div>
									</div>


								</div>
							</div>
						</div>
					</div>
				</div>-->

		<!-- Podcast
		============================================= -->

				<div class="section py-6 my-6" style="background-color: #e8f0f9">
					<div class="container">
						<div class="row align-items-center col-mb-50">
							<!--div class="col-md-6">
								<img src="demos/forum/images/doc.svg" alt="Doc Image">
							</div-->
							<div class="col-md-12 text-center">
								<div class="row posts-md col-mb-30" style="align-items:center">
									
									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<span>Podcast</span>
											<h3>Proceso de Elección</h3>
											<a href="" class="button button-large button-border rounded-1 fw-medium nott bg-alt2 ls0 ms-0">Suscribirse</a>
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<iframe src="https://open.spotify.com/embed-podcast/episode/44UUNkovLQ5Pydgc8tLuPO" width="100%"
                							height="232" frameBorder="0" allowfullscreen=""
               								 allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<span>SUSCRÍBITE AHORA</span>
											<h3>Lorem ipsum dolor sit amet,</h3>
											<p>Lorem ipsum dolor sit amet, consectetur adipisicingelit, sed diam nonum</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>


		<!-- Galeria Publicaciones
		============================================= -->

				<div class="container my-4">
					<div class="row justify-content-center text-center mb-5">
						<div class="col-lg-6">
							<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
						</div>

									<div class="row posts-md col-mb-30">
										<div class="entry col-sm-6 col-xl-3">
											<div class="grid-inner">
												<div class="entry-image">
													<a href="#"><img src="elementos/Lab Electoral-09.png" alt="Image"></a>
												</div>
												<div class="entry-title title-xs nott">
													<h3><a href="blog-single.html">Yum, McDonald's apologize as new China food scandal brews</a></h3>
												</div>
												<div class="entry-meta">
													<ul>
														<li><i class="icon-calendar3"></i> 9th Sep 2021</li>
														<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 23</a></li>
													</ul>
												</div>
												<div class="entry-content">
													<p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur.</p>
												</div>
											</div>
										</div>

										<div class="entry col-sm-6 col-xl-3">
											<div class="grid-inner">
												<div class="entry-image">
													<a href="#"><img src="elementos/Lab Electoral-09.png" alt="Image"></a>
												</div>
												<div class="entry-title title-xs nott">
													<h3><a href="blog-single.html">Halliburton gets boost from rebound in North America drilling</a></h3>
												</div>
												<div class="entry-meta">
													<ul>
														<li><i class="icon-calendar3"></i> 23rd Aug 2021</li>
														<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 33</a></li>
													</ul>
												</div>
												<div class="entry-content">
													<p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
												</div>
											</div>
										</div>

										<div class="entry col-sm-6 col-xl-3">
											<div class="grid-inner">
												<div class="entry-image">
													<a href="#"><img src="elementos/Lab Electoral-09.png" alt="Image"></a>
												</div>
												<div class="entry-title title-xs nott">
													<h3><a href="blog-single.html">China sends spy ship off Hawaii during U.S.-led drills brews</a></h3>
												</div>
												<div class="entry-meta">
													<ul>
														<li><i class="icon-calendar3"></i> 11th Feb 2021</li>
														<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
													</ul>
												</div>
												<div class="entry-content">
													<p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
												</div>
											</div>
										</div>

										<div class="entry col-sm-6 col-xl-3">
											<div class="grid-inner">
												<div class="entry-image">
													<a href="#"><img src="elementos/Lab Electoral-09.png" alt="Image"></a>
												</div>
												<div class="entry-title title-xs nott">
													<h3><a href="blog-single.html">Wobbly stocks underpin yen and Swiss franc; dollar subdued</a></h3>
												</div>
												<div class="entry-meta">
													<ul>
														<li><i class="icon-calendar3"></i> 17th Jan 2021</li>
														<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 50</a></li>
													</ul>
												</div>
												<div class="entry-content">
													<p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur.</p>
												</div>
											</div>
										</div>

										<!--div class="entry col-sm-6 col-xl-4">
											<div class="grid-inner">
												<div class="entry-image">
													<a href="#"><img src="images/thumb/15.jpg" alt="Image"></a>
												</div>
												<div class="entry-title title-xs nott">
													<h3><a href="blog-single.html">BlackBerry names ex-Sybase executive as chief operating officer</a></h3>
												</div>
												<div class="entry-meta">
													<ul>
														<li><i class="icon-calendar3"></i> 20th Nov 2021</li>
														<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
													</ul>
												</div>
												<div class="entry-content">
													<p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
												</div>
											</div>
										</div>

										<div class="entry col-sm-6 col-xl-4">
											<div class="grid-inner">
												<div class="entry-image">
													<a href="#"><img src="images/thumb/6.jpg" alt="Image"></a>
												</div>
												<div class="entry-title title-xs nott">
													<h3><a href="blog-single.html">Georgian prime minister fires seven ministers in first reshuffle</a></h3>
												</div>
												<div class="entry-meta">
													<ul>
														<li><i class="icon-calendar3"></i> 10th Dec 2013</li>
														<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
													</ul>
												</div>
												<div class="entry-content">
													<p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
												</div>
											</div>
										</div-->
									</div>
								</div>
							</div>	
						</div>	
					</div>

					<div class="container my-4">
						<div class="row justify-content-center text-center mb-5">
							<div class="col-lg-6">
								<hP class=" mb-3">GRACIAS AL APOYO DE </P>
								<img  src="elementos/ELEMENTOS/LOGOTIPO/NED.png" alt="Canvas Logo">
							</div>	
						</div>	
					</div>	

					<div class="row justify-content-center">
						<div class="col-lg-6">

						</div>
					</div>
				</div>



		<!-- Youtube
		============================================= -->

				<!--div class="section dark my-0 border-0" style="height: 500px; padding: 145px 0;">

					<div class="container clearfix">

						<div class="slider-caption slider-caption-center" style="position: relative;">
							<div data-animate="fadeInUp">
								<h2 style="font-size: 42px;">Beautiful HTML5 Videos</h2>
								<p class="d-none d-sm-block">Looks beautiful &amp; ultra-sharp on Retina Screen Displays. Powerful Layout with Responsive functionality that can be adapted to any screen size.</p>
								<a href="#" class="button button-border button-rounded button-white button-light button-large ms-0 mb-0 d-none d-md-inline-block" style="margin-top: 20px;">Show More</a>
							</div>
						</div>

					</div>

					<div class="video-wrap">
						<video poster="images/videos/explore-poster.jpg" preload="none" loop autoplay muted>
							<source src='images/videos/explore.mp4' type='video/mp4' />
							<source src='images/videos/explore.webm' type='video/webm' />
						</video>
						<div class="video-overlay" style="background-color: rgba(0,0,0,0.3);"></div>
					</div>

				</div-->

			</div>
		</section><!-- #content end -->
{% endblock %}

{% block body_javascripts %}

{% endblock %}