---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Nuestra Elección | Red Ciudadana</title>

{% endblock %}

{% block content %}

		<div class="popup2">
			<button id="close2">&times;</button>
			<iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FRedciudadanagt%2Fvideos%2F203353792644070%2F&show_text=false&width=560&t=0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
		</div>

		<!-- Slider -->
		<a href="/index.html"><section id="slider" class="slider-element bg-color" style="background-image:url('/elementos/sliderareval.png');background-size: cover; background-repeat: no-repeat; background-position: center center; height: 100vh;">
			<div class="container">
				<div class="row h-100 justify-content-center">
				
					<div class="col-lg-8 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4 text-center justify-content-center">
					</div>

				</div>
			</div>
		</section></a>

		<!-- Content
		============================================= -->
		<section id="content px-4">
			<div class="content-wrap">

				<!-- Novedades
				============================================= -->

				<!--div class="section mt-1 mb-4" style="background-color: #fff">
					<div class="container">
						<div class="row">

							<div class="col-lg-3 col-sm-12 order-2 order-lg-1">
								{% for novedad in collections.novhigh2 | limitPart(1,2) %}
								<div class="novedad_secundaria_lateral mb-4">
									<img src="{{novedad.data.image}}">
									<a href="{{novedad.url}}"><h1>{{novedad.data.title}}</h1></a>
									<p>{{novedad.data.description}}</p>
									<i>Escrito por: &nbsp{{novedad.data.autor}}</i>
								</div>
								{% endfor%}
								{% for novedad in collections.novhigh3 | limitPart(0,2) %}
								<div class="novedad_terciaria_lateral mb-4">
									<a href="{{novedad.url}}"><h1>{{novedad.data.title}}</h1></a>
									<p>{{novedad.data.description}}</p>
									<i>Escrito por: &nbsp{{novedad.data.autor}}</i>
								</div>
								{% endfor%}
								
							</div>
							<div class="col-lg-6 col-sm-12 order-1 order-lg-2">
								{% for novedad in collections.novhigh1 | limit(1)%}
								<div class="novedad_principal mb-4">
									<img src="{{novedad.data.image}}">
									<h4>Destacado</h4>
									<a href="{{novedad.url}}"><h1>{{novedad.data.title}}</h1></a>
									<p>{{novedad.data.description}}</p>
									<i>Escrito por: &nbsp{{novedad.data.autor}}</i>
								</div>
								{% endfor%}
								{% for novedad in collections.novhigh2 | limit(1)%}
								<div class="row novedad_secundaria_centro mb-4">
									<div class="col-lg-8 col-sm-12 order-2 order-lg-1 izquierda">
										<a href="{{novedad.url}}"><h1>{{novedad.data.title}}</h1></a>
										<p>{{novedad.data.description}}</p>
										<i>Escrito por: &nbsp{{novedad.data.autor}}</i>
									</div>
									<div class="col-lg-4 col-sm-12 order-1 order-lg-2">
										<img src="{{novedad.data.image}}">
									</div>
								</div>
								{% endfor %}
							</div>
							<div class="col-lg-3 col-sm-12 order-3 order-lg-3">
								{% for novedad in collections.novhigh2 | limitPart(2,3) %}
								<div class="novedad_secundaria_lateral mb-4">
									<img src="{{novedad.data.image}}">
									<a href="{{novedad.url}}"><h1>{{novedad.data.title}}</h1></a>
									<p>{{novedad.data.description}}</p>
									<i>Escrito por: &nbsp{{novedad.data.autor}}</i>
								</div>
								{% endfor%}
								{% for novedad in collections.novhigh3 | limitPart(2,4) %}
								<div class="novedad_terciaria_lateral mt-4 mb-4">
									<a href="{{novedad.url}}"><h1>{{novedad.data.title}}</h1></a>
									<p>{{novedad.data.description}}</p>
									<i>Escrito por: &nbsp{{novedad.data.autor}}</i>
								</div>
								{% endfor%}

							</div>
							
						</div>
					</div>
				</div-->

				<!--div class="section py-6 my-6" style="background-color: #46495F">
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-lg-6 text-center">
								<h1 class="font-bold text-4xl border-blue-500 mb-4 pb-4 text-white">¿Quieres saber qué candidatos están en tu distrito?</h1>
								<select style="width:100%" id="filterSelect" class="filtro m-0" onchange="handleFilterChange()">
									<option value="all" hidden>Elije un Distrito</option>
									<option value="Distrito Central">Distrito Central</option>
									<option value="Guatemala">Guatemala</option>
									<option value="Alta Verapaz">Alta Verapaz</option>
									<option value="Baja Verapaz">Baja Verapaz</option>
									<option value="Chimaltenango">Chimaltenango</option>
									<option value="Chiquimula">Chiquimula</option>
									<option value="El Progreso">El Progreso</option>
									<option value="Escuintla">Escuintla</option>
									<option value="Huehuetenango">Huehuetenango</option>
									<option value="Izabal">Izabal</option>
									<option value="Jalapa">Jalapa</option>
									<option value="Jutiapa">Jutiapa</option>
									<option value="Petén">Petén</option>
									<option value="Quetzaltenango">Quetzaltenango</option>
									<option value="Quiché">Quiché</option>
									<option value="Retalhuleu">Retalhuleu</option>
									<option value="Sacatepéquez">Sacatepéquez</option>
									<option value="San Marcos">San Marcos</option>
									<option value="Santa Rosa">Santa Rosa</option>
									<option value="Sololá">Sololá</option>
									<option value="Suchitepéquez">Suchitepéquez</option>
									<option value="Totonicapán">Totonicapán</option>
									<option value="Zacapa">Zacapa</option>
								</select>
							</div>
						</div>
					</div>
				</div-->

				<div class="section py-4 my-2" style="background-color: #fff">
					<div class="container">
						<div class="row">

							<div class="col-lg-12 text-center pt-6">
								<h1 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4">¿En qué etapa se encuentra el proceso?</h1>
							</div>

							<div class="col-lg-4 col-sm-12 my-4">
								<div class="start-box text-white">
									<img class="img-start-box" src="/elementos/ELEMENTOS-06.png">
									<h1>Convocatoria a Elecciones Generales 2023</h1>
									<h6>20 de Enero 2023</h6>
									<p>TSE realiza convocatoria a elecciones generales</p>
								</div>
							</div>

							<div class="col-lg-4 col-sm-12 my-4">
								<div class="start-box text-white">
									<img class="img-start-box" src="/elementos/ELEMENTOS-07.png">
									<h1>Elecciones Generales 2023</h1>
									<h6>25 de Junio 2023</h6>
									<p>Elecciones presidenciales, listado nacional, distritales, parlacen y corporaciones municipales</p>
								</div>
							</div>

							<div class="col-lg-4 col-sm-12 my-4">
								<div class="start-box-active  text-white">
									<img class="img-start-box" src="/elementos/ELEMENTOS-08.png">
									<h1>Segunda Vuelta</h1>
									<h6>20 de Agosto 2023</h6>
									<p>Elecciones presidenciales</p>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Podcast
				============================================= -->

				<div class="section py-6 my-6" style="background-color: #46495F">
					{% if collections.podcastsHighlighted %}
					{% for podcast in collections.podcastsHighlighted | reverse | limit(1)%}
					<div class="container">
						<div class="row align-items-center col-mb-50">
					
							<div class="col-md-12 text-white">
								<div class="row posts-md col-mb-30" style="align-items:center">
									
									<div class="entry col-sm-6 col-xl-6">
										<div class="grid-inner">
											<span class="subtitulo-podcast">Combate la desinformación </span>
											<h3 class="titulo-podcast">Nuestra Elección</h3>
											<p class="texto-podcast">En estas elecciones, no permitamos que la desinformación decida por nosotros.
																		Comparte información verificada. Sé parte de la solución, no del problema.</p>
											
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-6">
										<div class="grid-inner">
											<!--a href="https://open.spotify.com/episode/07jgf9edynFB5HFDBT4unV" target="_blank"><img style="width:300px;margin:auto" src="/elementos/PODCAST.png"></a-->
											<iframe width="560" height="315" src="https://www.youtube.com/embed/lhm-AAl326I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>

				<!-- Eventos y Videos
				============================================= -->

				<div class="container my-4">
					<div class="row text-center mb-5" style="justify-content:space-between;align-items:flex-start">

						<div class="row posts-md col-mb-30 col-xl-9">
								

							<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Eventos</h2>

							{% for evento in collections.eventos | reverse | limit(7) %}
					
				
							<a href="{{evento.url}}" class="flex border-b-2 pb-4 mb-4 text-current responsive">
							<img src="{{ evento.data.image }}" alt="Evento" class="w-36">
							<div class="pl-8 my-auto" style="text-align:left">
								<h5 class="font-bold text-lg">
								{{evento.data.title }}
								</h5>
								<span class="text-sm">
								{{evento.data.date | dateFormat('DD/MM/YYYY')}}
								</span><br>
								<span class="text-sm">
								{{evento.data.description}}
								</span>
							</div>
							</a>

							{% endfor %}

							<div class="mb-6" style="display:flex; justify-content:flex-end">
								<a href="/eventos/index.html">Más Eventos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>		
				
						</div>

						<div class="row posts-md col-mb-30 col-xl-3">
							<h3 class="uppercase font-bold text-base tracking-wider my-auto mb-4 pb-4"style="text-align:left;margin:1rem 0">Videos</h3>

							{% for video in collections.videos | reverse | limit(4)%}
							<div class="entry ">
								<div class="grid-inner">
									<iframe width="560" height="215" src="{{video.data.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<p class="txt-video">{{video.data.description}}</p>
								</div>
								
							</div>
							{% endfor %}

							<div class="mb-6">
								<div style="display:flex; justify-content:flex-end">
								<a href="/videos/index.html">Más Videos<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>	
						</div>	
						

					</div>	
				</div>

				<div class="container my-4">
					<div class="row">
						<div class="col-lg-12">
							<p>Gracias al apoyo de: <img src="https://www.ned.org/wp-content/themes/ned/images/logo.png"></p>
						</div>
					</div>
				</div>
			</div>

			<!-- TikToks
			============================================= -->
			
			<!--div class="container my-4">
				<div class="row mb-5">
					<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Tik Toks</h2>
					{% for tiktok in collections.tiktoksHighlighted | limit(3)%}
					<div class="col-lg-4 col-sm-12 col-md-6 p-0">
						{{tiktok.data.enlace | safe}}
					</div>
					{% endfor %}
				</div>
			</div-->

			<!-- Novedades y Podcasts
			============================================= -->
				
			
			<!--div class="container my-4 mb-6">
				<div class="row text-center mb-5"  style="justify-content:space-evenly;align-items:flex-start">
				
					<div class="row posts-md col-mb-30">

						<h2 class="font-bold text-4xl border-b-2 border-blue-500 mb-4 pb-4" style="text-align:left;margin:1rem 0">Novedades de Desinformación</h2>
						<div class="row d-flex">
							{% for novedad in collections.novedades_desinformacion | reverse | limit(3) %}
							<div class="col-md-4 col-lg-4 col-sm-12">
								<div class="cuadro_blog ">
									<a href="{{novedad.url}}"><img src="{{ novedad.data.image }}" alt="Evento" class="w-36"></a>
									<div class="px-4 py-4 text-left">
										<i class="fa-regular fa-calendar"></i><span class="text-sm">
										{{novedad.data.date | dateFormat('DD/MM/YYYY')}}
										</span><br>
										<br>
										<h5 class="font-bold text-lg">
										{{novedad.data.title }}
										</h5>
										
										<span class="text-sm">
										{{novedad.data.description}}
										</span>
										
									</div>
									<a href="{{novedad.url}}"><div class="px-4 pb-2 pt-2 text-left" style="border-top:#ccc 1px solid">
										<span>Ver más <i class="fa-solid fa-caret-right"></i></span>
									</div></a>

								</div>
							</div>
							{% endfor %}
							<div style="display:flex; justify-content:flex-end;padding-right:35px">
								<a href="/novedades/index.html">Más Contenido<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>
						</div>
					</div>
				</div>	
			</div-->

		</section><!-- #content end -->
{% endblock %}

{% block body_javascripts %}

	<script>
		function handleFilterChange() {
			// Obtener el elemento select
			var selectElement = document.getElementById("filterSelect");

			// Obtener el valor seleccionado
			var selectedValue = selectElement.value;

			// Guardar el valor en el localStorage
			localStorage.setItem("distrito_seleccionado", selectedValue);

			// Redirigir a la página de resultados
			window.location.href = "/distrital_resultados/index.html";
		}
	</script>

	<script>
        // Function to automatically play the video when the iframe is loaded
        function playVideoOnLoad() {
            var videoIframe = document.getElementById('videoIframe');
            videoIframe.contentWindow.postMessage('{"event":"command","func":"playVideo","args":""}', '*');
        }

        // Attach the playVideoOnLoad function to the iframe's onload event
        window.onload = playVideoOnLoad;
    </script>
	
{% endblock %}
