---
permalink: "publicaciones.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Lab Electoral | Publicaciones</title>
{% endblock %}

{% block content %}

<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

                <!-- event-area-start -->
                <div class="event-area pt-60 pb-130">
                    <div class="container">

                        <div class="container clearfix">
                            <div class="heading-block center">

                                <img style="margin:2% 0"  src="elementos/ELEMENTOS/ICONOS/02.png" alt="Canvas Logo">

                                <h2>Publicaciones</h2>
                                <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
                            </div>
                        </div>

                        <div class="event-bg event-bg-03 pos-rel mb-30" style="margin:1rem 0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-img mb-20 center">
                                        <a href="events-details.html"><img style="height:100%!important" src="elementos/LAB ELECTORAL-13.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-wrapper mb-20 ">
                                        <div class="event-text">
                                            <!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
                                            <h3> índice de datos abiertos del sector justicia</h3>
                                        </div>
                                        <div class="event-meta">
                                            <span><!--i class="far fa-user-circle"--></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                                        </div><br>
                                        <div class="cta-content">

                                            <div class="cta-button">
                                                <a class="btn" href="causes-details.html">Descargar <i class="far fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

						<div class="event-bg event-bg-03 pos-rel mb-30" style="margin:1rem 0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-img mb-20 center">
                                        <a href="events-details.html"><img style="height:100%!important" src="elementos/LAB ELECTORAL-13.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-wrapper mb-20 ">
                                        <div class="event-text">
                                            <!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
                                            <h3> índice de datos abiertos del sector justicia</h3>
                                        </div>
                                        <div class="event-meta">
                                            <span><!--i class="far fa-user-circle"--></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                                        </div><br>
                                        <div class="cta-content">

                                            <div class="cta-button">
                                                <a class="btn" href="causes-details.html">Descargar <i class="far fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

						<div class="event-bg event-bg-03 pos-rel mb-30" style="margin:1rem 0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-img mb-20 center">
                                        <a href="events-details.html"><img style="height:100%!important" src="elementos/LAB ELECTORAL-13.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-wrapper mb-20 ">
                                        <div class="event-text">
                                            <!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
                                            <h3> índice de datos abiertos del sector justicia</h3>
                                        </div>
                                        <div class="event-meta">
                                            <span><!--i class="far fa-user-circle"--></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                                        </div><br>
                                        <div class="cta-content">

                                            <div class="cta-button">
                                                <a class="btn" href="causes-details.html">Descargar <i class="far fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

						<div class="event-bg event-bg-03 pos-rel mb-30" style="margin:1rem 0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-img mb-20 center">
                                        <a href="events-details.html"><img style="height:100%!important" src="elementos/LAB ELECTORAL-13.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="event-wrapper mb-20 ">
                                        <div class="event-text">
                                            <!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
                                            <h3> índice de datos abiertos del sector justicia</h3>
                                        </div>
                                        <div class="event-meta">
                                            <span><!--i class="far fa-user-circle"--></i>Lorem ipsum dolor sit amet, et laboramus constituto usu. Vim cu augue aeque. Sed ut solet evertitur, id eum dolorem principes dissentiet. Lorem assueverit qui no, summo dictas at sit.</span>
                                        </div><br>
                                        <div class="cta-content">

                                            <div class="cta-button">
                                                <a class="btn" href="causes-details.html">Descargar <i class="far fa-long-arrow-right"></i></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



                </div>
            </div>
      <!-- event-area-end -->

			</div>
		</section><!-- #content end -->

{% endblock %}