---
permalink: "resultados/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Nuestra Elección | Resultados</title>
{% endblock %}

{% block content %}
        <!-- Slider -->
	<section id="slider" class="slider-element bg-color" style="background-image:url('/elementos/SLIDER/WEB_CANDIDATOS_2023-28.png');background-size:cover">
		<div class="container">
			<div class="row h-100 justify-content-center">
			
				<div class="col-lg-8 d-flex align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4 text-center justify-content-center">
					<img style="width:140px; height:auto; margin:auto" src="/elementos/NUESTRA ELECCION-08.png">
					<h1 class="mt-4 text-white" style="font-weight: 800;font-size:25px">Resultados</h1>

				</div>

			</div>
		</div>
	</section>

        <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

                <!-- event-area-start -->
                <div class="event-area pt-60 pb-130">
                    <div class="container">


                        <div class="row d-flex justify-content-center">
                            <div class="col-lg-12">
                                <div class="row">

                                <div class="col-md-4 col-lg-4 col-sm-12  my-4">
                                
                                </div>

                                <div class="d-flex justify-content-center">
                                    {% if pagination.href.previous %}
                                    <div class="mx-4">
                                        {% if pagination.href.previous %}<a href="{{ pagination.href.previous }}">← Iniciativas más recientes</a>{% else %}←  Nuevos blog{% endif %}
                                    </div>
                                    {% endif %}
                                    {% if pagination.href.next %}
                                    <div class="mx-4">
                                        {% if pagination.href.next %}<a href="{{ pagination.href.next }}">Iniciativas anteriores →</a>{% else %}Blog anteriores →{% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                        

                        

                    </div>
                </div>



                </div>
            </div>
            <!-- event-area-end -->

			</div>
		</section><!-- #content end -->

{% endblock %}