{% extends "base.njk" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider}}');backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white">{{tslider}}</h1>
                    <p class="text-white">{{txtslider}}</p>
				</div>
			</div>
		</section>
        

        <!-- Content
		============================================= -->
        <style>
        
        ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #02324f; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #3385C7; 
        }
        
        </style>

		<section id="content" class="d-flex">
            <!--COLUMNA 1-->
            <div class="col-6" style="height:1000px;overflow-y:scroll">
                
                <div class="container clearfix">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{tseccionA1}}</h2>
                        <span>{{ seccionA1 }}</span>
                    </div>
                </div>
                <div class="container clearfix" style="background:#E8F0FA">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{tseccionA2}}</h2>
                        <span>{{ seccionA2 }}</span>
                    </div>
                </div>
                
            </div>
            <!--COLUMNA 2-->
            <div class="col-6" style="height:1000px;overflow-y:scroll; background:#3385C7">
                <iframe style="padding:10%" height="600px" src="{{ seccionB1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe style="padding:10%" height="600px" src="{{ seccionB2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
                
            </div>
		</section><!-- #content end -->

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider}}');backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white">{{tslider2}}</h1>
                    <p class="text-white">{{txtslider2}}</p>
				</div>
			</div>
		</section>

        <!-- Content
		============================================= -->

		<section id="content" class="d-flex">
            <!--COLUMNA 3-->
            <div class="col-6" style="height:1000px;overflow-y:scroll; background:#3385C7">
                
                {{ seccionB3 }}
                
                {{ seccionB4 }}
                

                
            </div>
            <!--COLUMNA 4-->
            <div class="col-6" style="height:1000px;overflow-y:scroll;">
                
                <div class="container clearfix">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{tseccionA3}}</h2>
                        <span>{{ seccionA3 }}</span>
                    </div>
                </div>
                <div class="container clearfix" style="background:#E8F0FA">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{tseccionA4}}</h2>
                        <span>{{ seccionA4 }}</span>
                    </div>
                </div>
            </div>
		</section><!-- #content end -->

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider2}}');backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white">Conclusión</h1>
                    <p class="text-white">{{conclusion}}</p>

                    
				</div>
			</div>
		</section>
    
{% endblock %}