{% extends "base.njk" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider}}');backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white">{{tslider}}</h1>
                    <p class="text-white">{{txtslider}}</p>
				</div>
			</div>
		</section>
        

        <!-- Content
		============================================= -->
        <style>
        
        ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #02324f; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #3385C7; 
        }
        
        </style>

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row">
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12" style="padding:0!important">
                    
                    <div class="container clearfix" style="background:#E8F0FA">
                        <div class="heading-block center pt-5 pb-0 py-lg-6">

                            <img style="margin:2% auto"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                            <h2>{{tseccionA1}}</h2>
                            <span>{{ seccionA1 }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12" style=" background:#3385C7">
                    <iframe style="padding:10%" height="600px" src="{{ seccionB1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 
                </div>
            </div>
		</section><!-- #content end -->

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row" >
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12" style="padding:0!important">
                    
                    <div class="container clearfix" >
                        <div class="heading-block center pt-5 pb-0 py-lg-6">

                            <img style="margin:2% auto"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                            <h2>{{tseccionA2}}</h2>
                            <span>{{ seccionA2 }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12" style="background:#3385C7">
                    <iframe style="padding:10%" height="600px" src="{{ seccionB2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 
                </div>
            </div>
		</section><!-- #content end -->

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row">
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12" style="padding:0!important">
                    
                    <div class="container clearfix" style="background:#E8F0FA">
                        <div class="heading-block center pt-5 pb-0 py-lg-6">

                            <img style="margin:2% auto"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                            <h2>{{tseccionA1}}</h2>
                            <span>{{ seccionA1 }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12" style=" background:#3385C7">
                    <iframe style="padding:10%" height="600px" src="{{ seccionB1 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 
                </div>
            </div>
		</section><!-- #content end -->

        <!-- Content
		============================================= -->

		<section id="content" class="w-100">
            <div class="row" >
                <!--COLUMNA 1-->
                <div class="col-lg-6 col-sm-12" style="padding:0!important">
                    
                    <div class="container clearfix" >
                        <div class="heading-block center pt-5 pb-0 py-lg-6">

                            <img style="margin:2% auto"  src="/elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                            <h2>{{tseccionA2}}</h2>
                            <span>{{ seccionA2 }}</span>
                        </div>
                    </div>
                    
                    
                </div>
                <!--COLUMNA 2-->
                <div class="col-lg-6 col-sm-12" style="background:#3385C7">
                    <iframe style="padding:10%" height="600px" src="{{ seccionB2 }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                 
                </div>
            </div>
		</section><!-- #content end -->       

        <!-- Conclusion
		============================================= -->
		<section id="slider" class="slider-element" style="background:#3385C7">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white">Conclusión</h1>
                    <p class="text-white">{{conclusion}}</p>

                    
				</div>
			</div>
		</section>
    
{% endblock %}