{% extends "base.njk" %}

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}

        

        <!-- Content
		============================================= -->
        <style>
        
        ::-webkit-scrollbar {
        width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
        background: #f1f1f1; 
        }
        
        /* Handle */
        ::-webkit-scrollbar-thumb {
        background: #02324f; 
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: #3385C7; 
        }
        
        </style>

		<section id="content" class="d-flex">
            <!--COLUMNA 1-->
            <div class="col-6" style="height:1000px;overflow-y:scroll">
                
                <div class="container clearfix">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{ seccionA1 }}</h2>
                        <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
                    </div>
                </div>
                <div class="container clearfix" style="background:#E8F0FA">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{ seccionA2 }}</h2>
                        <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
                    </div>
                </div>
                
            </div>
            <!--COLUMNA 2-->
            <div class="col-6" style="height:1000px;overflow-y:scroll; background:#3385C7">
                <h2>{{ seccionB1 }}</h2>
                <embed src="https://sistemaranking.redciudadana.org/mapas/m1c" type="text/html" style="height:700px;width:90%;margin:5%" >
                <h2>{{ seccionB2 }}</h2>
                <embed src="https://sistemaranking.redciudadana.org/mapas/m1c" type="text/html" style="height:700px;width:90%;margin:5%" >
            </div>
		</section><!-- #content end -->

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element" style="background-image: url('{{slider}}'),backgorund-size:cover">
			<div class="container">
				<div class="row h-100 center align-self-center flex-column pt-5 pb-0 py-lg-6 mb-0 my-lg-4" style="padding:0 20%">
                    <h1 class="text-white">Lorem Ipsum Dolor</h1>
                    <p class="text-white">Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor
                    Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor
                    Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor Lorem Ipsum Dolor</p>
				</div>
			</div>
		</section>

        <!-- Content
		============================================= -->

		<section id="content" class="d-flex">
            <!--COLUMNA 1-->
            <div class="col-6" style="height:1000px;overflow-y:scroll">
                
                <h2>{{ seccionB3 }}</h2>
                <embed src="https://sistemaranking.redciudadana.org/mapas/m1c" type="text/html" style="height:700px;width:90%;margin:5%" >
                <h2>{{ seccionB4 }}</h2>
                <embed src="https://sistemaranking.redciudadana.org/mapas/m1c" type="text/html" style="height:700px;width:90%;margin:5%" >

                
            </div>
            <!--COLUMNA 2-->
            <div class="col-6" style="height:1000px;overflow-y:scroll; background:#3385C7">
                
                <div class="container clearfix">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{ seccionA3 }}</h2>
                        <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
                    </div>
                </div>
                <div class="container clearfix" style="background:#E8F0FA">
                    <div class="heading-block center pt-5 pb-0 py-lg-6">

                        <img style="margin:2% 0"  src="elementos/ELEMENTOS/ICONOS/01.png" alt="Canvas Logo">

                        <h2>{{ seccionA4 }}</h2>
                        <span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
                    </div>
                </div>
            </div>
		</section><!-- #content end -->
    
{% endblock %}